body{
	background-color: gray;
}
footer{
    color:white;
	height: 35px;
	background-color: #0005;
	
	text-align: center;
	font-size: 30px;
	font-family: Arial;

}
nav {
	background-color: #0000;
	text-align: center;
	height: 50px;
	margin-top: :0px;
	
}
h1{
	color: red;
	text-align: center;

}

.logo {
	float: left;
	width:50px; 
	height:50px;
	
}
#img{
	border-radius: 50%;

}
nav a {
	list-style-type: none;
	display: inline-block;
	float: right;
	line-height: 50px;
	width: 80px;
	transition:  0.5s all;
	color:white;
	text-decoration: none;

}
nav div a:hover{
	font-size: 20px;
	color: #cccccc;
	
	
}